In [1]:
print("PRAISE THE LORD ALMIGHTY FATHER Thank You JESUS Praise You JESUS Forever May the HOLY SPIRIT Guide Us MOTHER MARY PRAY For Us SAINT JOSEPH, PRAY For Us SAINT ANTHONY PRAY For Us GOD BLESS !!! üß°‚õ™‚úù‚õ™üß°")

PRAISE THE LORD ALMIGHTY FATHER Thank You JESUS Praise You JESUS Forever May the HOLY SPIRIT Guide Us MOTHER MARY PRAY For Us SAINT JOSEPH, PRAY For Us SAINT ANTHONY PRAY For Us GOD BLESS !!! üß°‚õ™‚úù‚õ™üß°

In [2]:
import pandas as pd

### This would analyse all the features and Produce WTTE - RNN

In [3]:
df_matches = pd.read_csv('2022_to_2023_all_matches_preprocessed_v1.csv')

In [4]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 67 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0.1                               19110 non-null  int64
 1   Unnamed: 0                                 19110 non-null  int64
 2   year                                       19110 non-null  object
 3   over_start_bowler_balls_bowled             19110 non-null  int64
 4   over_start_bowler_wickets_taken            19110 non-null  int64
 5   over_start_bowler_runs_given               19110 non-null  int64
 6   over_start_batsman_on_strike_fours         19110 non-null  int64
 7   over_start_batsman_on_strike_sixers        19110 non-null  int64
 8   over_start_batsman_off_strike_balls_faced  19110 non-null  int64
 9   over_start_batsman_on_strike_balls_faced   19110 non-null  int64
 10  over_start_batsman_offstrike_runs          19110 non-null  int64
 11  over_start_batsman_onstrike_runs           19110 non-null  int64
 12  innings                                    19110 non-null  int64
 13  match_num                                  19110 non-null  int64
 14  country                                    19110 non-null  object
 15  target                                     19110 non-null  int64
 16  req_run_rate                               19110 non-null  float64
 17  over_start_run_rate                        19110 non-null  float64
 18  over_start_total_score                     19110 non-null  int64
 19  over_start_total_wickets_fallen            19110 non-null  int64
 20  over                                       19110 non-null  int64
 21  Bowler                                     19110 non-null  object
 22  batter_onStrike                            19110 non-null  object
 23  batter_offstrike                           19110 non-null  object
 24  wickets_fallen                             19110 non-null  float64
 25  sixers                                     19110 non-null  float64
 26  fours                                      19110 non-null  float64
 27  total_runs                                 19110 non-null  float64
 28  bat_on_str_Ave                             19110 non-null  float64
 29  bat_on_str_SR                              19110 non-null  float64
 30  bat_on_str_100                             19110 non-null  float64
 31  bat_on_str_50                              19110 non-null  float64
 32  bat_on_str_0                               19110 non-null  float64
 33  bat_on_str_4s                              19110 non-null  float64
 34  bat_on_str_6s                              19110 non-null  float64
 35  bat_on_str_Mat                             19110 non-null  float64
 36  bat_on_str_Inns                            19110 non-null  float64
 37  bat_on_str_NO                              19110 non-null  float64
 38  bat_on_str_Runs                            19110 non-null  float64
 39  bat_on_str_HS                              19110 non-null  float64
 40  bat_on_str_BF                              19110 non-null  float64
 41  bowler_Mat                                 19110 non-null  float64
 42  bowler_Inns                                19110 non-null  float64
 43  bowler_Overs                               19110 non-null  float64
 44  bowler_Mdns                                19110 non-null  float64
 45  bowler_Runs                                19110 non-null  float64
 46  bowler_Wkts                                19110 non-null  float64
 47  bowler_Ave                                 19110 non-null  float64
 48  bowler_Econ                                19110 non-null  float64
 49  bowler_SR                                  19110 non-null  float64
 50  bowler_4w                                  19110 non-null  float64
 51  bowler_5w                                  19110 non-null  float64
 52  bat_off_str_Ave                            19110 non-null  float64
 53  bat_off_str_SR                             19110 non-null  float64
 54  bat_off_str_100                            19110 non-null  float64
 55  y_is_wicket_fallen                         19110 non-null  int64
 56  bat_off_str_50                             19110 non-null  float64
 57  bat_off_str_0                              19110 non-null  float64
 58  bat_off_str_4s                             19110 non-null  float64
 59  bat_off_str_6s                             19110 non-null  float64
 60  bat_off_str_Mat                            19110 non-null  float64
 61  bat_off_str_Inns                           19110 non-null  float64
 62  bat_off_str_NO                             19110 non-null  float64
 63  bat_off_str_Runs                           19110 non-null  float64
 64  bat_off_str_HS                             19110 non-null  float64
 65  bat_off_str_BF                             19110 non-null  float64
 66  date                                       19110 non-null  object
dtypes: float64(43), int64(18), object(6)
memory usage: 9.8+ MB

### Create A Method to Analyse the Time To Event and Uncencored

In [5]:
df_matches = df_matches[['date','over_start_bowler_balls_bowled',
       'over_start_bowler_wickets_taken', 'over_start_bowler_runs_given',
       'over_start_batsman_on_strike_fours',
       'over_start_batsman_on_strike_sixers',
       'over_start_batsman_off_strike_balls_faced',
       'over_start_batsman_on_strike_balls_faced',
       'over_start_batsman_offstrike_runs', 'over_start_batsman_onstrike_runs',
       'innings','target', 'req_run_rate',
       'over_start_run_rate', 'over_start_total_score',
       'over_start_total_wickets_fallen', 'over','wickets_fallen', 'sixers', 'fours', 'total_runs','bat_on_str_Ave', 'bat_on_str_SR', 'bat_on_str_100', 'bat_on_str_50',
       'bat_on_str_0', 'bat_on_str_4s', 'bat_on_str_6s', 'bat_on_str_Mat',
       'bat_on_str_Inns', 'bat_on_str_NO', 'bat_on_str_Runs', 'bat_on_str_HS',
       'bat_on_str_BF', 'bowler_Mat', 'bowler_Inns', 'bowler_Overs',
       'bowler_Mdns', 'bowler_Runs', 'bowler_Wkts', 'bowler_Ave',
       'bowler_Econ', 'bowler_SR', 'bowler_4w', 'bowler_5w', 'bat_off_str_Ave',
       'bat_off_str_SR', 'bat_off_str_100','bat_off_str_50', 'bat_off_str_0', 'bat_off_str_4s', 'bat_off_str_6s',
       'bat_off_str_Mat', 'bat_off_str_Inns', 'bat_off_str_NO',
       'bat_off_str_Runs', 'bat_off_str_HS', 'bat_off_str_BF','y_is_wicket_fallen', 'match_num',]]

df_matches

,date,over_start_bowler_balls_bowled,over_start_bowler_wickets_taken,over_start_bowler_runs_given,over_start_batsman_on_strike_fours,over_start_batsman_on_strike_sixers,over_start_batsman_off_strike_balls_faced,over_start_batsman_on_strike_balls_faced,over_start_batsman_offstrike_runs,over_start_batsman_onstrike_runs,...,bat_off_str_4s,bat_off_str_6s,bat_off_str_Mat,bat_off_str_Inns,bat_off_str_NO,bat_off_str_Runs,bat_off_str_HS,bat_off_str_BF,y_is_wicket_fallen,match_num
0,2015-11-26,0,0,0,0,0,0,0,0,0,...,114.000000,35.000000,35.000000,35.000000,5.000000,1092.000000,116.000000,797.0000,0,468
1,2015-11-26,0,0,0,0,0,3,3,1,4,...,114.000000,35.000000,35.000000,35.000000,5.000000,1092.000000,116.000000,797.0000,1,468
2,2015-11-26,6,0,5,1,0,0,6,0,6,...,69.178322,28.380821,36.585675,32.818811,5.740116,771.773217,69.867867,589.3779,1,468
3,2015-11-26,7,1,11,0,0,3,0,0,0,...,14.000000,4.000000,8.000000,8.000000,1.000000,129.000000,72.000000,101.0000,1,468
4,2015-11-26,12,1,7,0,0,1,2,0,0,...,105.000000,51.000000,52.000000,51.000000,10.000000,1225.000000,85.000000,914.0000,0,468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19105,2018-04-03,6,0,19,5,0,19,36,20,46,...,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,1,665
19106,2018-04-03,12,1,15,0,0,20,1,21,1,...,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,0,665
19107,2018-04-03,12,1,26,2,0,6,21,2,22,...,1.000000,1.000000,2.000000,2.000000,0.000000,15.000000,14.000000,10.0000,0,665
19108,2018-04-03,18,1,21,1,0,24,11,26,8,...,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,0,665
19109,2018-04-03,12,0,22,1,0,26,15,27,14,...,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,0,665

In [6]:
df_matches['date'] = pd.to_datetime(df_matches['date'])
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 60 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   date                                       19110 non-null  datetime64[ns]
 1   over_start_bowler_balls_bowled             19110 non-null  int64
 2   over_start_bowler_wickets_taken            19110 non-null  int64
 3   over_start_bowler_runs_given               19110 non-null  int64
 4   over_start_batsman_on_strike_fours         19110 non-null  int64
 5   over_start_batsman_on_strike_sixers        19110 non-null  int64
 6   over_start_batsman_off_strike_balls_faced  19110 non-null  int64
 7   over_start_batsman_on_strike_balls_faced   19110 non-null  int64
 8   over_start_batsman_offstrike_runs          19110 non-null  int64
 9   over_start_batsman_onstrike_runs           19110 non-null  int64
 10  innings                                    19110 non-null  int64
 11  target                                     19110 non-null  int64
 12  req_run_rate                               19110 non-null  float64
 13  over_start_run_rate                        19110 non-null  float64
 14  over_start_total_score                     19110 non-null  int64
 15  over_start_total_wickets_fallen            19110 non-null  int64
 16  over                                       19110 non-null  int64
 17  wickets_fallen                             19110 non-null  float64
 18  sixers                                     19110 non-null  float64
 19  fours                                      19110 non-null  float64
 20  total_runs                                 19110 non-null  float64
 21  bat_on_str_Ave                             19110 non-null  float64
 22  bat_on_str_SR                              19110 non-null  float64
 23  bat_on_str_100                             19110 non-null  float64
 24  bat_on_str_50                              19110 non-null  float64
 25  bat_on_str_0                               19110 non-null  float64
 26  bat_on_str_4s                              19110 non-null  float64
 27  bat_on_str_6s                              19110 non-null  float64
 28  bat_on_str_Mat                             19110 non-null  float64
 29  bat_on_str_Inns                            19110 non-null  float64
 30  bat_on_str_NO                              19110 non-null  float64
 31  bat_on_str_Runs                            19110 non-null  float64
 32  bat_on_str_HS                              19110 non-null  float64
 33  bat_on_str_BF                              19110 non-null  float64
 34  bowler_Mat                                 19110 non-null  float64
 35  bowler_Inns                                19110 non-null  float64
 36  bowler_Overs                               19110 non-null  float64
 37  bowler_Mdns                                19110 non-null  float64
 38  bowler_Runs                                19110 non-null  float64
 39  bowler_Wkts                                19110 non-null  float64
 40  bowler_Ave                                 19110 non-null  float64
 41  bowler_Econ                                19110 non-null  float64
 42  bowler_SR                                  19110 non-null  float64
 43  bowler_4w                                  19110 non-null  float64
 44  bowler_5w                                  19110 non-null  float64
 45  bat_off_str_Ave                            19110 non-null  float64
 46  bat_off_str_SR                             19110 non-null  float64
 47  bat_off_str_100                            19110 non-null  float64
 48  bat_off_str_50                             19110 non-null  float64
 49  bat_off_str_0                              19110 non-null  float64
 50  bat_off_str_4s                             19110 non-null  float64
 51  bat_off_str_6s                             19110 non-null  float64
 52  bat_off_str_Mat                            19110 non-null  float64
 53  bat_off_str_Inns                           19110 non-null  float64
 54  bat_off_str_NO                             19110 non-null  float64
 55  bat_off_str_Runs                           19110 non-null  float64
 56  bat_off_str_HS                             19110 non-null  float64
 57  bat_off_str_BF                             19110 non-null  float64
 58  y_is_wicket_fallen                         19110 non-null  int64
 59  match_num                                  19110 non-null  int64
dtypes: datetime64[ns](1), float64(43), int64(16)
memory usage: 8.7 MB

In [7]:
# Filter the DataFrame for values greater than a specific date
specific_date = pd.to_datetime('2017-01-01')
df_matches = df_matches[df_matches['date'] > specific_date]

In [8]:
df_final = df_matches[['date','over_start_bowler_balls_bowled',
       'over_start_bowler_wickets_taken', 'over_start_bowler_runs_given',
       'over_start_batsman_on_strike_fours',
       'over_start_batsman_on_strike_sixers',
       'over_start_batsman_off_strike_balls_faced',
       'over_start_batsman_on_strike_balls_faced',
       'over_start_batsman_offstrike_runs', 'over_start_batsman_onstrike_runs',
       'innings', 'target', 'req_run_rate','over_start_run_rate',
       'over_start_total_score','over_start_total_wickets_fallen', 'over','wickets_fallen', 'sixers', 'fours', 'total_runs','bat_on_str_Ave',
       'bat_on_str_SR', 'bat_on_str_100', 'bat_on_str_50', 'bat_on_str_0',
       'bat_on_str_4s', 'bat_on_str_6s', 'bat_on_str_Mat', 'bat_on_str_Inns',
       'bat_on_str_NO', 'bat_on_str_Runs', 'bat_on_str_HS', 'bat_on_str_BF',
       'bowler_Mat', 'bowler_Inns', 'bowler_Overs', 'bowler_Mdns',
       'bowler_Runs', 'bowler_Wkts', 'bowler_Ave', 'bowler_Econ', 'bowler_SR',
       'bowler_4w', 'bowler_5w', 'bat_off_str_Ave', 'bat_off_str_SR',
       'bat_off_str_100', 'bat_off_str_50', 'bat_off_str_0', 'bat_off_str_4s',
       'bat_off_str_6s', 'bat_off_str_Mat', 'bat_off_str_Inns',
       'bat_off_str_NO', 'bat_off_str_Runs', 'bat_off_str_HS',
       'bat_off_str_BF','y_is_wicket_fallen','match_num']]

In [9]:
cols_to_scale = ['over_start_bowler_balls_bowled', 'over_start_bowler_wickets_taken',
       'over_start_bowler_runs_given', 'over_start_batsman_on_strike_fours',
       'over_start_batsman_on_strike_sixers',
       'over_start_batsman_off_strike_balls_faced',
       'over_start_batsman_on_strike_balls_faced',
       'over_start_batsman_offstrike_runs', 'over_start_batsman_onstrike_runs',
       'over_start_run_rate', 'target', 'req_run_rate', 'over_start_total_score',
       'over_start_total_wickets_fallen', 'over','wickets_fallen', 'sixers', 'fours','bat_on_str_Ave',
       'bat_on_str_SR', 'bat_on_str_100', 'bat_on_str_50', 'bat_on_str_0',
       'bat_on_str_4s', 'bat_on_str_6s', 'bat_on_str_Mat', 'bat_on_str_Inns',
       'bat_on_str_NO', 'bat_on_str_Runs', 'bat_on_str_HS', 'bat_on_str_BF',
       'bowler_Mat', 'bowler_Inns', 'bowler_Overs', 'bowler_Mdns',
       'bowler_Runs', 'bowler_Wkts', 'bowler_Ave', 'bowler_Econ', 'bowler_SR',
       'bowler_4w', 'bowler_5w', 'bat_off_str_Ave', 'bat_off_str_SR',
       'bat_off_str_100', 'bat_off_str_50', 'bat_off_str_0', 'bat_off_str_4s',
       'bat_off_str_6s', 'bat_off_str_Mat', 'bat_off_str_Inns',
       'bat_off_str_NO', 'bat_off_str_Runs', 'bat_off_str_HS',
       'bat_off_str_BF',]

In [10]:
## Adding the TTE And Uncencored Columns

In [ ]:
import numpy as np
df_final.insert(loc=len(df_final.columns), column='time_to_event', value=np.ones(len(df_final)))
df_final.insert(loc=len(df_final.columns), column='uncencored', value=np.ones(len(df_final)))

In [ ]:
match_list = df_matches['match_num'].unique()
match_list_1 =match_list[0:1] 
match_list_1

In [ ]:


for match in match_list:
    print("In new Match" , match)
    for i in range(1,3):
        print("In new Innings" , i)
        innings_df = df_final[(df_final['match_num'] == match) & (df_final['innings'] == i)]
        event_index = innings_df.index[innings_df['y_is_wicket_fallen'] == 1]
        print(event_index)
        next_wicket_index = 0

        print(type(event_index))
        event_index = np.append(event_index,innings_df.index[len(innings_df.index)-1])
        # if len(event_index) == 0:
        #     event_index = np.append(event_index,innings_df.index[len(innings_df.index)-1])
        #     print("Empty event index replaced by ",event_index)


        for index in innings_df.index:
            #print(index)
            
            #print(df_final[(df_final['match_num'] == match) & (df_final['innings'] == i)]['y_is_wicket_fallen'][index])
            df_final['time_to_event'][index] = event_index[next_wicket_index] - index
            print(df_final['time_to_event'][index])
            print('tte is ' , event_index[next_wicket_index] - index)
            if index == event_index[next_wicket_index]:
                next_wicket_index = next_wicket_index +1

In [ ]:
df_final

In [ ]:
df_final['time_to_event'] = df_final['time_to_event'].apply(lambda x: x + 1)

In [ ]:
df_final.columns

In [ ]:
df_final

In [ ]:
train_test_Date = pd.to_datetime('2022-01-01')

In [ ]:
from sklearn.model_selection import train_test_split
X_train = df_final[df_final['date'] <= train_test_Date]

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
X_train

In [ ]:
test_Date = pd.to_datetime('2022-01-01')
X_test  =  df_final[df_final['date'] > test_Date]
X_test

In [ ]:
df_matches.columns

In [ ]:
X_test

In [ ]:
X_train

In [ ]:
# df = df_matches[['req_run_rate',
#        'over_start_run_rate', 'over_start_total_score',
#        'over_start_total_wickets_fallen', 'total_runs','innings','over','y_is_wicket_fallen']]

In [ ]:
X_train = X_train[['over_start_bowler_balls_bowled',
       'over_start_bowler_wickets_taken', 'over_start_bowler_runs_given',
       'over_start_batsman_on_strike_fours',
       'over_start_batsman_on_strike_sixers',
       'over_start_batsman_off_strike_balls_faced',
       'over_start_batsman_on_strike_balls_faced',
       'over_start_batsman_offstrike_runs', 'over_start_batsman_onstrike_runs','innings', 'target', 'req_run_rate', 'over_start_run_rate',
       'over_start_total_score', 'over_start_total_wickets_fallen', 'over',
       'sixers', 'fours','total_runs','match_num','time_to_event',
       'uncencored']]

In [ ]:
X_test = X_test[['over_start_bowler_balls_bowled',
       'over_start_bowler_wickets_taken', 'over_start_bowler_runs_given',
       'over_start_batsman_on_strike_fours',
       'over_start_batsman_on_strike_sixers',
       'over_start_batsman_off_strike_balls_faced',
       'over_start_batsman_on_strike_balls_faced',
       'over_start_batsman_offstrike_runs', 'over_start_batsman_onstrike_runs','innings', 'target', 'req_run_rate', 'over_start_run_rate',
       'over_start_total_score', 'over_start_total_wickets_fallen', 'over',
       'sixers', 'fours','total_runs','match_num','time_to_event',
       'uncencored']]

In [ ]:
cols_to_scale = ['over_start_bowler_balls_bowled',
       'over_start_bowler_wickets_taken', 'over_start_bowler_runs_given',
       'over_start_batsman_on_strike_fours',
       'over_start_batsman_on_strike_sixers',
       'over_start_batsman_off_strike_balls_faced',
       'over_start_batsman_on_strike_balls_faced',
       'over_start_batsman_offstrike_runs', 'over_start_batsman_onstrike_runs', 'target', 'req_run_rate', 'over_start_run_rate',
       'over_start_total_score', 'over_start_total_wickets_fallen', 'over',
       'sixers', 'fours','total_runs']

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train[cols_to_scale] = scaler.fit_transform(X_train[cols_to_scale])
X_test[cols_to_scale] = scaler.transform(X_test[cols_to_scale])

In [ ]:
X_test

In [ ]:
X_train

In [ ]:
train_match_list = X_train['match_num'].unique()
train_match_list

In [ ]:
X_train_rnn = []
y_train_rnn = []

#Tracking down 5 previous overs

for match in train_match_list:
    print("In new Match" , match)
    for i in range(1,3):
        print("In new Innings" , i)
        innings_df = X_train[(X_train['match_num'] == match) & (X_train['innings'] == i)]
        print(len(innings_df))
        
        for over in range(5,len(innings_df)):
            
            X_train_rnn.append(innings_df.reset_index(drop=True).loc[over-5:over-1, 'over_start_bowler_balls_bowled':'total_runs'])
            y_train_rnn.append(innings_df.reset_index(drop=True).loc[over,  'time_to_event':'uncencored'])

In [ ]:
test_match_list = X_test['match_num'].unique()
test_match_list

In [ ]:
X_train

In [ ]:
X_test

In [ ]:
X_test_rnn = []
y_test_rnn = []

#Tracking down 5 previous overs

for match in test_match_list:
    print("In new Match" , match)
    for i in range(1,3):
        print("In new Innings" , i)
        innings_df = X_test[(X_test['match_num'] == match) & (X_test['innings'] == i)]
        print(len(innings_df))
        
        for over in range(5,len(innings_df)):
            X_test_rnn.append(innings_df.reset_index(drop=True).loc[over-5:over-1, 'over_start_bowler_balls_bowled':'total_runs'])
            y_test_rnn.append(innings_df.reset_index(drop=True).loc[over, 'time_to_event':'uncencored'])

In [ ]:

# X_test_rnn = []
# y_test_rnn = []

# for over in range(5,len(X_test)):
            
#     X_test_rnn.append(X_test.reset_index(drop=True).loc[over-5:over-1, 'req_run_rate':'over'])
#     y_test_rnn.append(X_test.reset_index(drop=True).loc[over, 'time_to_event':'uncencored'])

In [ ]:
# X_train_rnn = []
# y_train_rnn = []

# for over in range(5,len(df)):
            
#     X_train_rnn.append(df.reset_index(drop=True).loc[over-5:over-1, 'req_run_rate':'over'])
#     y_train_rnn.append(df.reset_index(drop=True).loc[over, 'time_to_event':'uncencored'])

In [ ]:
X_train_rnn , y_train_rnn = np.array(X_train_rnn).astype('float32') , np.array(y_train_rnn).astype('float32')
X_test_rnn , y_test_rnn = np.array(X_test_rnn).astype('float32') , np.array(y_test_rnn).astype('float32')

In [ ]:
X_train_rnn.shape

In [ ]:
y_train_rnn.shape

In [ ]:
X_test_rnn.shape

In [ ]:
y_test_rnn.shape

In [ ]:
X_train

In [ ]:
X_test

### Building the Model

In [ ]:
%matplotlib inline
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

from six.moves import xrange
import numpy as np
import matplotlib.pyplot as plt

from keras.models import Sequential
from keras.layers import Dense

from keras.layers import LSTM,GRU
from keras.layers import Lambda
from keras.layers import TimeDistributed

from keras.optimizers import RMSprop,adam
from keras.callbacks import History

import wtte.weibull as weibull
import wtte.wtte as wtte

from wtte.wtte import WeightWatcher

np.random.seed(2)

In [ ]:
from wtte.wtte import WeightWatcher
from keras.layers import Lambda, GRU
from keras.callbacks import EarlyStopping, History, TerminateOnNaN
from keras.layers import Dropout, BatchNormalization, LSTM, Dense
from keras.regularizers import l2
from keras.optimizers import Adam
from keras.models import Sequential
from keras import regularizers
from keras.layers import Activation
from keras import backend as k

In [ ]:
X_train_rnn.shape

In [ ]:
y_train_rnn.shape

In [ ]:
X_train = X_train_rnn
y_train  = y_train_rnn

In [ ]:
y_train_rnn.shape

In [ ]:
print(X_train.shape)
print(y_train.shape)

In [ ]:
print(X_test_rnn.shape)
print(y_test_rnn.shape)

In [ ]:
def weibull_loglik_discrete(y_true, ab_pred, name=None):
    y_ = y_true[:, 0]
    u_ = y_true[:, 1]
    a_ = ab_pred[:, 0]
    b_ = ab_pred[:, 1]

    hazard0 = k.pow((y_ + 1e-35) / a_, b_)
    hazard1 = k.pow((y_ + 1) / a_, b_)

    return -1 * k.mean(u_ * k.log(k.exp(hazard1 - hazard0) - 1.0 + k.epsilon()) - hazard1)

def activate(ab):
    a = k.exp(ab[:, 0])
    b = k.softplus(ab[:, 1])

    a = k.reshape(a, (k.shape(a)[0], 1))
    b = k.reshape(b, (k.shape(b)[0], 1))

    return k.concatenate((a, b), axis=1)

In [ ]:
# Paramaeters for output activation layer initialization.
# Start at naive geometric (beta=1) MLE:
tte_mean_train = np.nanmean(y_train[:,:])
init_alpha = -1.0/np.log(1.0-1.0/(tte_mean_train+1.0) )
mean_u = np.nanmean(y_train[:,:])
init_alpha = init_alpha/mean_u
print('init_alpha: ',init_alpha,'mean uncensored: ',mean_u)

### Uncomment if you have varying length sequences that is nanpadded to the right:
# mask_value = -1.3371337 # Use some improbable but not nan-causing telltale value
# x_train[:,:,:][np.isnan(x_train)] = mask_value
# y_train[:,:,0][np.isnan(y_train[:,:,0])] = tte_mean_train
# y_train[:,:,1][np.isnan(y_train[:,:,1])] = 0.5
# sample_weights = (x_train[:,:,0]!=mask_value)*1.

In [ ]:
n_features = X_test_rnn.shape[2]
n_features

In [ ]:
# Define batch size and number of epochs
epochs = 100

In [ ]:
X_test_rnn.shape

In [ ]:
X_test_val_rnn = X_test_rnn[-500:]
y_test_val_rnn = y_test_rnn[-500:]

In [ ]:
print(X_test_val_rnn.shape)
print(y_test_val_rnn.shape)

In [ ]:
# validation_data=(X_test_rnn, y_test_rnn),

In [ ]:
# Initialize callbacks
history = History()
weight_watcher = WeightWatcher()
nanterminator = TerminateOnNaN()

early_stopping = EarlyStopping(monitor='val_loss', patience=15, restore_best_weights=True)

# Define model
model = Sequential()

# First LSTM layer with Dropout
model.add(LSTM(64, input_shape=(None, n_features), activation='tanh', return_sequences=False))
# Output layer
model.add(Dense(2))
model.add(Activation(activate))


# Loss function
loss = wtte.loss(kind='discrete', reduce_loss=False).loss_function

# Compile model
model.compile(loss=weibull_loglik_discrete, optimizer=Adam(learning_rate=.01, clipvalue=1.0))

# Print model summary
model.summary()

# Train the model
history = model.fit(X_train_rnn, y_train_rnn, epochs=epochs,
                    validation_data=(X_test_val_rnn, y_test_val_rnn),
                    batch_size=100,
                    callbacks=[early_stopping, weight_watcher])

In [ ]:
plt.plot(history.history['loss'],    label='training')
plt.plot(history.history['val_loss'],label='validation')
plt.title('loss')
plt.legend()

In [ ]:
test_predict = model.predict(X_test_rnn)

In [ ]:
test_predict.shape

In [ ]:
y_test_rnn

In [ ]:
from six.moves import xrange
drawstyle = 'steps-post'

a = test_predict[:,0]
b = test_predict[:,1]
t = np.array(xrange(len(a)))

# Plotting test_predict against test_y
plt.figure(figsize=(8, 6))
plt.plot(y_test_rnn[:, 0], label='True')
# plt.plot(test_predict[:10000, 0], color='yellow', label='Predicted')
plt.plot(weibull.quantiles(a,b,0.75),color='blue',label='pred <0.75',drawstyle=drawstyle)
plt.plot(weibull.mode(a, b), color='red',linewidth=1,label='pred mode/peak prob',drawstyle=drawstyle)
plt.plot(weibull.mean(a, b), color='green',linewidth=1,label='pred mean',drawstyle='steps-post')
plt.plot(weibull.quantiles(a,b,0.25),color='blue',label='pred <0.25',drawstyle=drawstyle)
plt.xlabel('Time Steps')
plt.ylabel('Output Value')
plt.legend()
plt.show()

plt.figure(figsize=(8, 6))
plt.scatter(y_test_rnn[:, 0], weibull.mean(a, b))
plt.xlabel('Observed Time')
plt.ylabel('Predicted Mean Time')
plt.show()

In [ ]:
plt.plot(a,drawstyle='steps-post')
plt.title('predicted alpha')
plt.show()
plt.plot(b,drawstyle='steps-post')
plt.title('predicted beta')
plt.show()

In [ ]:
test_predict

In [ ]:
df_final

In [ ]:

# Iterate over the columns
for column in X_train.columns:
    # Count the number of null values in the column
    null_count = X_train[column].isnull().sum()

    # Display the column name and the number of null values
    print(f"Column '{column}' has {null_count} null values.")

In [ ]:
X_test

In [ ]:
y_test_rnn

In [ ]:
for row in y_train_rnn:
    print(row)