In [1]:
print("PRAISE THE LORD ALMIGHTY FATHER Thank You JESUS Praise You JESUS Forever May the HOLY SPIRIT Guide Us MOTHER MARY PRAY For Us SAINT JOSEPH, PRAY For Us SAINT ANTHONY PRAY For Us AMEN 游비久쀡랳 GOD BLESS !!! 九뢕띩游비久쀡랳")

PRAISE THE LORD ALMIGHTY FATHER Thank You JESUS Praise You JESUS Forever May the HOLY SPIRIT Guide Us MOTHER MARY PRAY For Us SAINT JOSEPH, PRAY For Us SAINT ANTHONY PRAY For Us AMEN 游비久쀡랳 GOD BLESS !!! 九뢕띩游비久쀡랳

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('2022_to_2023_all_matches_master.csv')

In [5]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0.1.1',
       'Unnamed: 0.1.1.1', 'Unnamed: 0.1.1.1.1', 'Unnamed: 0.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1', 'year', 'over_start_bowler_balls_bowled',
       'over_start_bowler_wickets_taken', 'over_start_bowler_runs_given',
       'over_start_batsman_on_strike_fours',
       'over_start_batsman_on_strike_sixers',
       'over_start_batsman_off_strike_balls_faced',
       'over_start_batsman_on_strike_balls_faced',
       'over_start_batsman_offstrike_runs', 'over_start_batsman_onstrike_runs',
       'innings', 'match_num', 'country', 'target', 'req_run_rate',
       'over_start_run_rate', 'over_start_total_score',
       'over_start_total_wickets_fallen', 'over', 'deliveries', 'Bowler',
       'batter_onStrike', 'batter_offstrike', 'wickets_fallen', 'sixers',
       'fours', 'total_runs', 'bat_on_str_Ave', 'bat_on_str_SR',
       'bat_on_str_100', 'bat_on_str_50', 'bat_on_str_0', 'bat_on_str_4s',
       'bat_on_str_6s', 'bat_on_str_Mat', 'bat_on_str_Inns', 'bat_on_str_NO',
       'bat_on_str_Runs', 'bat_on_str_HS', 'bat_on_str_BF', 'bowler_Mat',
       'bowler_Inns', 'bowler_Overs', 'bowler_Mdns', 'bowler_Runs',
       'bowler_Wkts', 'bowler_Ave', 'bowler_Econ', 'bowler_SR', 'bowler_4w',
       'bowler_5w', 'bat_off_str_Ave', 'bat_off_str_SR', 'bat_off_str_100',
       'bat_off_str_50', 'bat_off_str_0', 'bat_off_str_4s', 'bat_off_str_6s',
       'bat_off_str_Mat', 'bat_off_str_Inns', 'bat_off_str_NO',
       'bat_off_str_Runs', 'bat_off_str_HS', 'bat_off_str_BF'],
      dtype='object')

In [7]:
df_ball_by_ball = df[['innings', 'match_num', 'country', 'target', 'req_run_rate','over', 'deliveries', 'Bowler']]

In [8]:
df_ball_by_ball.head()

,innings,match_num,country,target,req_run_rate,over,deliveries,Bowler
0,1,468,England,210,10.500000,0,"[{'batter': 'JJ Roy', 'bowler': 'Anwar Ali', '...",Anwar Ali
1,1,468,England,210,10.789474,1,"[{'batter': 'JJ Roy', 'bowler': 'Sohail Tanvir...",Sohail Tanvir
2,1,468,England,210,10.777778,2,"[{'batter': 'AD Hales', 'bowler': 'Anwar Ali',...",Anwar Ali
3,1,468,England,210,11.294118,3,"[{'batter': 'JM Vince', 'bowler': 'Sohail Tanv...",Sohail Tanvir
4,1,468,England,210,11.937500,4,"[{'batter': 'JM Vince', 'bowler': 'Anwar Ali',...",Anwar Ali

In [10]:
df_ball_by_ball['deliveries'][0]

"[{'batter': 'JJ Roy', 'bowler': 'Anwar Ali', 'non_striker': 'AD Hales', 'runs': {'batter': 0, 'extras': 0, 'total': 0}}, {'batter': 'JJ Roy', 'bowler': 'Anwar Ali', 'non_striker': 'AD Hales', 'runs': {'batter': 3, 'extras': 0, 'total': 3}}, {'batter': 'AD Hales', 'bowler': 'Anwar Ali', 'non_striker': 'JJ Roy', 'runs': {'batter': 0, 'extras': 0, 'total': 0}}, {'batter': 'AD Hales', 'bowler': 'Anwar Ali', 'non_striker': 'JJ Roy', 'runs': {'batter': 0, 'extras': 0, 'total': 0}}, {'batter': 'AD Hales', 'bowler': 'Anwar Ali', 'non_striker': 'JJ Roy', 'runs': {'batter': 1, 'extras': 0, 'total': 1}}, {'batter': 'JJ Roy', 'bowler': 'Anwar Ali', 'non_striker': 'AD Hales', 'runs': {'batter': 1, 'extras': 0, 'total': 1}}]"

In [11]:
import pandas as pd
import json

In [13]:
df_ball_by_ball['deliveries'][0]

"[{'batter': 'JJ Roy', 'bowler': 'Anwar Ali', 'non_striker': 'AD Hales', 'runs': {'batter': 0, 'extras': 0, 'total': 0}}, {'batter': 'JJ Roy', 'bowler': 'Anwar Ali', 'non_striker': 'AD Hales', 'runs': {'batter': 3, 'extras': 0, 'total': 3}}, {'batter': 'AD Hales', 'bowler': 'Anwar Ali', 'non_striker': 'JJ Roy', 'runs': {'batter': 0, 'extras': 0, 'total': 0}}, {'batter': 'AD Hales', 'bowler': 'Anwar Ali', 'non_striker': 'JJ Roy', 'runs': {'batter': 0, 'extras': 0, 'total': 0}}, {'batter': 'AD Hales', 'bowler': 'Anwar Ali', 'non_striker': 'JJ Roy', 'runs': {'batter': 1, 'extras': 0, 'total': 1}}, {'batter': 'JJ Roy', 'bowler': 'Anwar Ali', 'non_striker': 'AD Hales', 'runs': {'batter': 1, 'extras': 0, 'total': 1}}]"

In [31]:
def adjust_json_format(json_str):
    # Replace single quotes with double quotes
    json_str = json_str.replace("'", '"')
    # Replace double quotes with single quotes
    json_str = json_str.replace('"', "'")
    return json_str


# Sample JSON data string
json_data = df_ball_by_ball['deliveries'][0]

# Adjust the JSON format
adjusted_json_data = adjust_json_format(json_data)

# Print the adjusted JSON string
print(adjusted_json_data)

[{'batter': 'JJ Roy', 'bowler': 'Anwar Ali', 'non_striker': 'AD Hales', 'runs': {'batter': 0, 'extras': 0, 'total': 0}}, {'batter': 'JJ Roy', 'bowler': 'Anwar Ali', 'non_striker': 'AD Hales', 'runs': {'batter': 3, 'extras': 0, 'total': 3}}, {'batter': 'AD Hales', 'bowler': 'Anwar Ali', 'non_striker': 'JJ Roy', 'runs': {'batter': 0, 'extras': 0, 'total': 0}}, {'batter': 'AD Hales', 'bowler': 'Anwar Ali', 'non_striker': 'JJ Roy', 'runs': {'batter': 0, 'extras': 0, 'total': 0}}, {'batter': 'AD Hales', 'bowler': 'Anwar Ali', 'non_striker': 'JJ Roy', 'runs': {'batter': 1, 'extras': 0, 'total': 1}}, {'batter': 'JJ Roy', 'bowler': 'Anwar Ali', 'non_striker': 'AD Hales', 'runs': {'batter': 1, 'extras': 0, 'total': 1}}]

In [21]:
import pandas as pd
import json

# Sample JSON object
json_data = '[{"batter": "JJ Roy", "bowler": "Anwar Ali", "non_striker": "AD Hales", "runs": {"batter": 0, "extras": 0, "total": 0}}, {"batter": "JJ Roy", "bowler": "Anwar Ali", "non_striker": "AD Hales", "runs": {"batter": 3, "extras": 0, "total": 3}}, {"batter": "AD Hales", "bowler": "Anwar Ali", "non_striker": "JJ Roy", "runs": {"batter": 0, "extras": 0, "total": 0}}, {"batter": "AD Hales", "bowler": "Anwar Ali", "non_striker": "JJ Roy", "runs": {"batter": 0, "extras": 0, "total": 0}}, {"batter": "AD Hales", "bowler": "Anwar Ali", "non_striker": "JJ Roy", "runs": {"batter": 1, "extras": 0, "total": 1}}, {"batter": "JJ Roy", "bowler": "Anwar Ali", "non_striker": "AD Hales", "runs": {"batter": 1, "extras": 0, "total": 1}}]'

# Convert JSON to Python object (list of dictionaries)
data = json.loads(json_data)

# Create a DataFrame
df = pd.DataFrame(data)

# Extract the 'runs' column and normalize the JSON data
runs_data = pd.json_normalize(df['runs'])

# Create new columns in the original DataFrame
df['batter_runs'] = runs_data['batter']
df['extra_runs'] = runs_data['extras']
df['total_runs'] = runs_data['total']

# Print the modified DataFrame
df

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 3 (char 2)